In [5]:
import numpy as np
import pandas as pd
from datetime import datetime
from dateutil.parser import parse

In [19]:
dates = [datetime(2011, 1, 2), datetime(2011, 1, 5),
    datetime(2011, 1, 7), datetime(2011, 1, 8),
    datetime(2011, 1, 10), datetime(2011, 1, 12)]

ts = pd.Series(np.random.randn(6), dates)
ts
# ts.index.dtype

2011-01-02    0.352173
2011-01-05   -0.039722
2011-01-07    0.232236
2011-01-08    1.066693
2011-01-10   -1.678330
2011-01-12    0.272307
dtype: float64

In [24]:
ts['20110107']

0.23223566430468565

In [35]:
longer_ts = pd.Series(np.random.randn(1000),
                      index=pd.date_range('1/1/2000', periods=1000))
longer_ts[datetime(2000, 1, 1):datetime(2001,12,31)].head()

2000-01-01    1.704578
2000-01-02   -0.306143
2000-01-03   -0.721937
2000-01-04   -0.541743
2000-01-05   -0.291323
Freq: D, dtype: float64

In [42]:
dates = pd.date_range('1/1/2000', periods=100, freq='W-WED')
long_df = pd.DataFrame(np.random.randn(100, 4),
                       index=dates,
                       columns=['Colorado', 'Texas', 'New York', 'Ohio'])
long_df.loc['2001-5']

            Colorado     Texas  New York      Ohio
2001-05-02 -1.757283 -0.819937 -0.004343 -1.035243
2001-05-09 -2.789434  1.300682  1.031707 -0.045555
2001-05-16 -0.087853 -0.278723  1.198707  0.811897
2001-05-23 -0.258932 -0.959635 -0.126032 -0.018171
2001-05-30  0.632291 -0.386329 -0.408878 -1.016587

In [47]:
dates = pd.DatetimeIndex(['1/1/2000', '1/2/2000', '1/2/2000', '1/2/2000', '1/3/2000'])
dup_ts = pd.Series(np.arange(5), index=dates)
dup_ts['1/2/2000']

2000-01-02    1
2000-01-02    2
2000-01-02    3
dtype: int64

In [50]:
dup_ts.groupby(level=0).count()

2000-01-01    1
2000-01-02    3
2000-01-03    1
dtype: int64

In [71]:
pd.date_range('2012-04-01', '2012-06-01')
pd.date_range(start='2012-04-01', periods=20)
pd.date_range('2012-04-01', '2012-12-01', freq='BM')
pd.date_range('2012-04-01', '2012-05-01', freq='W')
pd.date_range('2012-04-01', '2012-05-01', freq='W-MON')
pd.date_range('2012-01-01', '2013-01-01', freq='QS-JAN')

DatetimeIndex(['2012-01-01', '2012-04-01', '2012-07-01', '2012-10-01',
               '2013-01-01'],
              dtype='datetime64[ns]', freq='QS-JAN')

In [73]:
pd.date_range('2012-05-02 12:56:31', periods=5, normalize=True)

DatetimeIndex(['2012-05-02', '2012-05-03', '2012-05-04', '2012-05-05',
               '2012-05-06'],
              dtype='datetime64[ns]', freq='D')

In [77]:
ts = pd.Series(np.random.randn(4),
               index=pd.date_range('1/1/2000', periods=4, freq='M'))
ts

2000-01-31    1.790695
2000-02-29   -1.026352
2000-03-31   -0.772386
2000-04-30   -0.055538
Freq: M, dtype: float64

In [81]:
ts.shift(2)

2000-01-31         NaN
2000-02-29         NaN
2000-03-31    1.790695
2000-04-30   -1.026352
Freq: M, dtype: float64

In [83]:
ts / ts.shift(1) - 1
ts.shift(2, freq='M')
ts.shift(3, freq='D')

2000-02-03    1.790695
2000-03-03   -1.026352
2000-04-03   -0.772386
2000-05-03   -0.055538
dtype: float64

In [86]:
rng = pd.date_range('2000-01-01', periods=100, freq='D')
ts = pd.Series(np.random.randn(len(rng)), index=rng)
ts.head()

2000-01-01    0.414934
2000-01-02   -0.608550
2000-01-03   -2.053308
2000-01-04    0.484364
2000-01-05    0.484035
Freq: D, dtype: float64

In [88]:
ts.resample('M').mean()

2000-01-31   -0.062057
2000-02-29   -0.127055
2000-03-31   -0.459607
2000-04-30   -0.013702
Freq: M, dtype: float64

In [92]:
rng = pd.date_range('2000-01-01', periods=12, freq='T')
ts = pd.Series(np.arange(12), index=rng)
ts.resample('5min', closed='right').sum()

1999-12-31 23:55:00     0
2000-01-01 00:00:00    15
2000-01-01 00:05:00    40
2000-01-01 00:10:00    11
Freq: 5T, dtype: int64

In [93]:
ts.resample('5min', closed='left').sum()

2000-01-01 00:00:00    10
2000-01-01 00:05:00    35
2000-01-01 00:10:00    21
Freq: 5T, dtype: int64